@{
    Layout = null;
}

@model  xEasyApp.Core.Repositories.UserInfo

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
    <title>修改用户信息</title>
    @Html.Css("main", "form", "dailog")

<html>
<head>
    <title>角色管理</title>
</head>
<body>
    <div style="padding:5px;">
       
            @using (Html.BeginForm("SaveUserInfo", "SysManage", new { id = Model.UserUID }, FormMethod.Post, new { id = "fmEdit" }))
            {
        
        <div class="mainpanel">
            <table id="xeasy-form-table" width="100%" class="xeasy-form" cellspacing="4"  cellpadding="1">
                 <tr>
                  <td style="width:70px;">
                        <label>上层部门：</label>
                  </td>
                  <td>
                        @Html.Hidden("OrgCode", Model.OrgCode)
                        @Html.Hidden("OrgName", Model.OrgName)
                        <span id="lbOrgName"> @Html.DisplayTextFor(x => x.OrgName) </span>
                        <a href="javascript:void(0);" id="selectOrg" style="margin-left:5px;" class="linkbtn"><span class="setGroup">移动</span></a>
                  </td>
                
                </tr>
                <tr>
                    <td style="width:70px;">
                        <label>用户账号：</label>
                    </td>
                    <td>
                        @if (string.IsNullOrEmpty(Model.UserUID))
                        {                        
                            @Html.TextBox("UserUID", Model.UserUID, new { style = "width:90%;" })
                        }
                        else
                        { 
                           @Html.TextBox("UserUID", Model.UserUID, new { style = "width:90%;", ReadOnly = "ReadOnly" })
                        } 
                        <span class="xeasy-formItemMust">*</span>
                    </td> 
                </tr>
                <tr>
                  <td style="width:70px;">
                        <label>用户名称：</label>
                  </td>
                  <td>
                        @Html.TextBox("FullName", Model.FullName, new { style = "width:90%;" })
                        <span class="xeasy-formItemMust">*</span>
                  </td>
                
                </tr>
                 <tr>
                  <td style="width:70px;">
                        <label>密码：</label>
                  </td>
                  <td>
                        @Html.Password("Password", Model.Password, new { style = "width:90%;" })
                        <span class="xeasy-formItemMust">*</span>
                  </td>
                
                </tr>
                 <tr>
                  <td style="width:70px;">
                        <label>排序：</label>
                  </td>
                  <td>
                        @Html.TextBox("Sequence", Model.Sequence, new { style = "width:80px;"})
                        <span class="xeasy-formItemMust">*</span>
                  </td>
                
                </tr>
                 <tr>
                  <td style="width:70px;">
                        <label>是否启用：</label>
                  </td>
                  <td>
                       @Html.CheckBox("AccountState", Model.AccountState == 1, new { value="1"})
                  </td>
                
                </tr>
                  <tr>
                  <td style="width:70px;">
                        <label>是否经理：</label>
                  </td>
                  <td>
                       @Html.CheckBox("IsManager", Model.IsManager, new { value = "True" })
                  </td>
                
                </tr>
            </table>
           
            </div>
            }
           
    </div>
     <div class="buttonpanel">
             <div style="float:right;margin-right:10px;">
                 <a id="btnSave" class="button" href="javascript:void(0);"><span>保存</span></a>
                 <a id="btnCancel" class="button" href="javascript:void(0);"><span>取消</span></a>
              </div>
              
    </div>
    @Html.Js("jquery", "common", "form","validate","dailog")
    <script type="text/javascript">
        $(document).ready(function (e) {
            $("#btnSave").click(function (e) {
                            $("#fmEdit").submit();
            });
            $("#btnCancel").click(function (e) {
                CloseModelWindow(null, false);
            });
            var options = {
                beforeSubmit: function () {
                    return true;
                },
                dataType: "json",
                success: function (data) {
                    if (data.IsSuccess) {
                        CloseModalDialog(null, true);
                    }
                    else {
                        showErrorTip(data.Msg, {left:10,top:100}, true, 3000);
                    }
                }
            };
            $("#fmEdit").validate(
             {
                 submitHandler: function (form) {                    
                     $("#fmEdit").ajaxSubmit(options);
                 },
                 rules:
                 {
                     UserUID: { required: true, safe: true @if(string.IsNullOrEmpty(Model.UserUID))
                      {                        
                        @:,remote:"@Url.Action("ValidUserUID")"
                      } 
                      },FullName: { required: true, safe: true },
                      Password: { required: true },
                      Sequence:{required:true,number:true}
                 },
                 messages: {
                     UserUID: { required: "用户标识不能为空",remote:"部门代码必须唯一" },
                     FullName: { required: "用户姓名不能为空" },
                     Password: { required:  "用户密码不能为空" }
                 },
                 errorElement: "div",
			     errorClass: "cusErrorPanel",
			     errorPlacement:showValidateError
             });
            $.validator.addMethod("safe", function (value, element) {
                return this.optional(element) || /^[^$\<\>]+$/.test(value);
            }, "不能包含以下符号: $<>");

            $("#selectOrg").click(function(e){
                 OpenModalDialog("@Url.Action("setOrg")?mode=2", { caption: "选择用户组", width: 240, height: 300, onclose: selectgroup_callback });
            });
            
            function selectgroup_callback(group) {
                //debugger;
                if (group && group.length > 0) {                   
                    $("#OrgCode").val(group[0].value);
                    $("#OrgName").val(group[0].text);
                    $("#lbOrgName").text(group[0].text);
                }
            }           
        });
        function getSelectNodeId() {
           return "";
        }
    </script>
</body>
</html>